*venv*
*cache*
.env
Descargas
descargas
error*
Ejecutable
cambios
*test.xlsx
*.xlsx
.github
logs*
temp_build
!.github/
.github/*
!.github/workflows/
.github/workflows/*
!.github/workflows/release-zips-on-tag.yml
ejecutable-mrbot-refactored
